@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #cfcdc9;
}
.huilmeter{
	position:absolute;
	top:5px;
	right:5px;
}

.huilmeter span{
	font-size: 24pt;
}

.superpowers{
	padding: 20px;
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.superpowerWrapper{
	display: flex;
	justify-content: space-evenly
}

.superpower{
	font-size:24pt;
}


.container {
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

svg{
	margin-top:10px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}


/* MODAL STYLES
-------------------------------*/
.jw-modal {
  /* modals are hidden by default */
  display: none;

  /* modal container fixed across whole screen */
  position: fixed;
  inset: 0;

  /* z-index must be higher than everything else on the page */
  z-index: 10000;
  
  /* semi-transparent black background exposed by padding */
  background-color: rgba(0, 0, 0, .75);
  padding: 40px;

  /* enables scrolling for tall modals */
  overflow: auto;
}

.jw-modal.open {
  display: block;
}

.jw-modal-body {
  padding: 20px;
  background: #fff;
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}